$purple-color: #7E4CEC;
$purple-light: #A68EE8;
$purple-transparent: #7f4cec42;
$purple-dark: #4F3A99;
$green-color: #80FF83;
$orange-color: #f26f23;
$yellow-color: #f49726;
$blue-color: #20a1da;
$white-color: #ffffff;
$white-dark:#ebebeb;
$black-color: #000000;
$black-light: #494949;
